
.section-title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Georgia", normal;
}


.card1 {
  height: 380px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card1:hover {
  transform: translateY(-10px);
}

.card1-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card1-title {
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 600;
}



.carousel-scroll {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
}

.carousel-card {
  min-width: 330px;
  scroll-snap-align: start;
}

.carousel-img-container {
  height: 420px;
  overflow: hidden;
  border-radius: 12px;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.carousel-card:hover .carousel-img {
  transform: scale(1.15);
}

.carousel-title {
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  font-family: "Georgia", normal;
}



.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}

.two-col-item {
  background: #fff;
}

.two-col-img-wrapper {
  height: 380px;
  overflow: hidden;
  border-radius: 10px;
}

.two-col-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.two-col-item:hover .two-col-img {
  transform: scale(1.08);
}

.two-col-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 15px;
  font-family: "Georgia", normal;
}

.two-col-desc {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 8px;
}
