.animated-title {
font-size: 1.6rem;
font-weight: 700;
animation: glow 2s infinite ease-in-out;
}


@keyframes glow {
0% { color: #ffffff; text-shadow: 0 0 5px #fff; }
50% { color: #ffcc33; text-shadow: 0 0 20px #ffcc33; }
100% { color: #ffffff; text-shadow: 0 0 5px #fff; }
}